body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.form-container {
    background: #fff;
    padding: 40px 50px;
    border-radius: 15px;
    width: 400px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
}

form input {
    width: 100%;
    padding:  15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

form input:focus {
    border-color: #9b59b6;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.buttons button {
    width: 100px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}

button.add {
    background-color: #27ae60; 
}

button.add:hover { 
    background-color: #2ecc71; 
}

button.update {
    background-color: #2980b9;
}

button.update:hover {
    background-color: #3498db; 
}

button.delete { 
    background-color: #c0392b; 
}

button.delete:hover { 
    background-color: #e74c3c; 
}

button.back { 
    background-color: #7f8c8d; 
}

button.back:hover { 
    background-color: #95a5a6; 
}
