body{
    padding:40px ;
}

.card {
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.btn1{
    display: flex;
    justify-content: flex-end;
    border: none;
}

.btn1 button{
    padding: 8px;
    margin:15px;
    border: solid 2px black;
    border-radius: 30px;
    background-color: #3DB6B1;
    color: black;
    width: 155px;
}

.btn1 button:hover{
    background-color: #F6B1CE;
    border-radius: 50px;
}


.wrap-buttons button,.wrap-buttons .btn-primary,form button{
    width: 130px;
}