* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body::selection {
    background-color: #F6B1CE;
    color: #fff;
}

/* navbar */

.navbar {
    background-color: #1581BF !important;
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    color: #3DB6B1 !important;
}

.navbar a img {
    height: 50px;
    width: 50px;
}

.nav-link svg {
    font-size: 20px;
    right: 0;
}

/* carousel */
header {
    margin-bottom: 20px;
}

.carousel-inner {
    height: 70vh !important;
    width: 100%;
}

.carousel-inner .carousel-item {
    height: 100% !important;
    width: 100%;
}

.carousel-inner .carousel-item img {
    height: 100% !important;
    width: 100%;
}

.carousel-caption {
    color: #1581BF;
    margin-bottom: 40px;
}

.carousel-caption h2 {
    font-size: 200%;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 100%;
    margin-bottom: 40px;
    font-weight: bold;
}

.carousel-caption {
    color: #1581BF;
}

.myarrows svg {
    font-size: 60px;
    color: #3DB6B1;
    transition: ease 0.5s;
}

.myarrows svg:hover {
    font-size: 70px;
    color: #F6B1CE;
}

.carousel-indicators .mybottonbtns {
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
    background-color: #3DB6B1;
}

.carousel-indicators .mybottonbtns:hover {
    background-color: #F6B1CE;
}

.carousel-caption button {
    height: 50px;
    width: 200px;
    border: none;
    background-color: #3DB6B1;
    color: white;
    border-radius: 20px;
    transition: ease 0.5s;
    font-size: 25px !important;
}

.carousel-caption button:hover,
.card-body .inf_btn:hover,
.card-body .added_card_btn:hover {
    background-color: #F6B1CE;
    border-radius: 50px;
}

/* products */

.card-body .inf_btn,
.card-body .added_card_btn {
    height: 30px;
    width: 150px;
    background-color: #3DB6B1;
    border: none;
    border-radius: 10px;
    color: #fff;
    transition: ease 0.5S;
}

.card-body .inf_btn:hover,
.card-body .added_card_btn:hover {
    background-color: #F6B1CE;
    border-radius: 30px;
}

.card-body .added_card_btn:hover {
    background-color: crimson;
}

.card-body .inf_btn {
    margin-bottom: 10px;
}

.card-body span {
    color: crimson;
    font-weight: bold;
}

.card-body h4 {
    text-align: center;
}

.card {
    padding: 4px !important;
}