:root {
  --blue: #197ec2;
  --green: #3db7ad;
  --pink: #f6b1ce;
  --bg: #d9efdd;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
}

.navbar {
  background: var(--blue);
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-links {
  display: flex;
  margin: auto 0;
  width: 100%;
  padding: 0 10px;
  justify-content: space-between;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.product-image img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
}

.product-info h2 {
  margin-bottom: 15px;
}

.product-info p {
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  margin: 20px 0;
  font-weight: bold;
}

.btn {
  background: var(--green);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: var(--pink);
  color: black;
}

.more-products {
  margin-top: 60px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.product-card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.img-box img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin: 40px 0;
  color: #333;
}