body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.navbar {
    background: #222;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.product-box {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.product-box img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.right .price {
    font-size: 22px;
    color: #007bff;
}

.add-btn {
    padding: 10px 20px;
    margin-top: 15px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.related-title {
    margin-top: 40px;
    font-size: 24px;
}

.related-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 8px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn.add {
    background: #007bff;
}
