
    body {
        font-family: sans-serif;
        padding-top: 80px;

    }

    .navbar {
        background-color: #1581BF !important;
    }

    .navbar a {
        color: #fff !important;
    }

    .navbar a:hover {
        color: #3DB6B1 !important;
    }

    .navbar a img {
        height: 50px;
        width: 50px;
    }

    .nav-link svg {
        font-size: 20px;
        right: 0;
    }

    body::selection {
        background-color: #F6B1CE;
        color: #fff;
    }

    .cart-item {
        width: 70%;
        margin: 20px auto;
        padding: 15px;
        background: #fff;
        border-radius: 45px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        gap: 20px;
        transition: .3s;
    }

    .cart-item:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);

    }

    .summary-box {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        transition: .3s;
    }

    .summary-box:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);

    }



    .checkout-btn {
        width: 100%;
        padding: 12px;
        background-color: #3DB6B1;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        margin-top: 20px;
        transition: 0.3s;
    }

    .checkout-btn:hover {
        background-color: #F6B1CE;
        transform: scale(1.05);

    }

    .remove-btn {
        width: 90%;
        padding: 12px;
        background-color: #3DB6B1;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        margin-top: 20px;
        transition: 0.3s;

    }

    .remove-btn:hover {
        background-color: #F6B1CE;
        transform: scale(1.05);

    }

    .make-info-btn {
        width: 90%;
        padding: 12px;
        background-color: #3DB6B1;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: 600;
        margin-top: 20px;
        transition: all 0.3s;

    }

    .make-info-btn:hover {
        background-color: #F6B1CE;
        transform: scale(1.05);

    }

    .qty-btn {
        width: 35px;
        height: 35px;
        border: none;
        background-color: #3DB6B1;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius: 6px;
        transition: 0.3s;
    }

    .qty-btn:hover {
        background-color: #F6B1CE;
        transform: scale(1.05);
    }

    .qty-btn:disabled {
        background-color: #a0c8c5;
        transform: none;
    }

    .text-center {
        font-size: 45px;
        font-weight: 700;
        letter-spacing: 3px;
        color: #333;
        border-bottom: 3px solid #ff6600;
        padding-bottom: 10px;
        margin-top: 5px;
    }

    .about {
        background-color: #1581BF;
        padding: 10px;
    }

    .about_text {
        color: #fff;
        font-weight: bold;
    }

    .about img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }

    .about .social-icon {
        font-size: 20px;
        color: #fff;
    }
