@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
            padding-top: 80px; 

}

.navbar {
    background-color: #1581BF !important;
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    color: #3DB6B1 !important;
}

.navbar a img {
    height: 50px;
    width: 50px;
}

.nav-link svg {
    font-size: 20px;
    right: 0;
}
body::selection {
    background-color: #F6B1CE;
    color: #fff;
}
.cart-item {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
        border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .3s;
}

.cart-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}
.summary-box {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 15px;

    transition: .3s;
}
.summary-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}



.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: #3DB6B1;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.2s ease;
}

.checkout-btn:hover {
    background-color: #F6B1CE;
    transform: scale(1.05);

}

.remove-btn {
    width: 50%;
    padding: 12px;
    background-color: #3DB6B1;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
    transition: all 0.3s;

}

.remove-btn:hover {
    background-color: #F6B1CE;
    transform: scale(1.05);

}

.make-info-btn {
    width: 50%;
    padding: 12px;
    background-color: #3DB6B1;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
    transition: all 0.3s;

}

.make-info-btn:hover {
    background-color: #F6B1CE;
    transform: scale(1.05);

}

.qty-btn {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #3DB6B1;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.2s ease, transform 0.2s ease;
}

.qty-btn:hover {
    background-color: #F6B1CE;
    transform: scale(1.1);
}

.qty-btn:disabled {
    background-color: #a0c8c5;
    cursor: not-allowed;
    transform: none;
}
