.navbar {
    background-color: #1581BF !important;
}

.navbar a {
    color: #fff !important;
}

.navbar a:hover {
    color: #3DB6B1 !important;
}

.navbar a img {
    height: 50px;
    width: 50px;
}

.nav-link svg {
    font-size: 20px;
    right: 0;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body::selection {
    background-color: #F6B1CE;
    color: #fff;
}
.checkout-btn {
    width: 100%;
    padding: 12px;
    background-color: #3DB6B1;  
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.2s ease;
}

.checkout-btn:hover {
    background-color: #F6B1CE;
           transform: scale(1.05);

}
.remove-btn {
     width: 50%;
    padding: 12px;
    background-color: #3DB6B1;  
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
      transition: all 0.3s;

}
.remove-btn:hover {
    background-color: #F6B1CE;
       transform: scale(1.05);

}
.make-info-btn {
     width: 50%;
    padding: 12px;
    background-color: #3DB6B1;  
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 20px;
      transition: all 0.3s;

}
.make-info-btn:hover {
    background-color: #F6B1CE;
       transform: scale(1.05);

}
.qty-btn {
    width: 35px;
    height: 35px;
    border: none;
    background-color: #3DB6B1; 
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.2s ease, transform 0.2s ease;    
}
.qty-btn:hover {
  background-color: #F6B1CE  ;
    transform: scale(1.1);       
}
.qty-btn:disabled {
    background-color: #a0c8c5;
    cursor: not-allowed;
    transform: none;
}